/* Navigation */
#navbar{
    flex-direction: column;
    position: sticky;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0 7px;
    padding-bottom: 10px;
}
/* Home sectio*/
#home{
    height: 330px;
    padding: 40px 45px;
    
}
#home::before{
    height: 530px;
    
}
#home p{
    font-size: 0.8rem;
}

/* services */
#services{
    flex-direction: column;
    margin: 0px;
}
#services .box{
    box-shadow: inset;
    
}

/* client */
#clients{
   flex-wrap: wrap;
   flex-direction: column;
}
#clients img{
    width: 170px;
    padding: 40px;
    height: 160px;
}
#client-section::before{
    height: 850px;
}

/* contact */
 
/* utility */
.h-primary{
    font-size: 2.0rem;
}

